input.form-control.form{
    margin: auto;
     display:block;
     width:45%;
       margin-bottom: 1rem;
    
     
 }
 input.form-control.form:hover{
      border:2.5px solid black;
 }
 div.col-md-6.form-class{
     text-align: center;
     margin-top: 10rem;
     background-color:cadetblue;
 }
 input.form-control.form1{
      margin: auto;
     display:block;
     width:45%;
     margin-top: 3rem;
     margin-bottom: 1rem;
     
 }
 input.form-control.form1:hover{
    border:2.5px solid black
 }
 h2.main-link{
     font-size:2rem;
     color:black;
     margin-top: 2rem;
 }

 #button1{
     
     margin-bottom: 4rem;
     color:black;
 /*    background-color:darkcyan;*/
     font-size: 1.2rem;
     border-radius: 0.5rem;
     
 }
 #button1:hover{
    border:2.5px solid black;
 }
